In [1]:
import pandas as pd

In [2]:
nonurse = pd.read_excel("file_20221106214353.xlsx")
nonurse

              State  Year       Staff type Hospital category Number of staff
0             Johor  2015           Doctor       Government             2854
1             Johor  2015           Doctor           Private            1399
2             Johor  2015          Dentist        Government             331
3             Johor  2015          Dentist           Private             259
4             Johor  2015            Nurse        Government            6441
..              ...   ...              ...               ...             ...
379  W.P. Putrajaya  2017          Dentist           Private               7
380  W.P. Putrajaya  2017            Nurse        Government            2312
381  W.P. Putrajaya  2017            Nurse           Private               8
382  W.P. Putrajaya  2017  Community Nurse        Government             481
383  W.P. Putrajaya  2017  Community Nurse           Private               -

[384 rows x 5 columns]

In [3]:
nonurse.dtypes

State                object
Year                  int64
Staff type           object
Hospital category    object
Number of staff      object
dtype: object

In [4]:
nonurse.dtypes

State                object
Year                  int64
Staff type           object
Hospital category    object
Number of staff      object
dtype: object

In [5]:
nonurse.isnull().sum()

State                0
Year                 0
Staff type           0
Hospital category    0
Number of staff      0
dtype: int64

In [6]:
# Filter and drop rows containing "Private" in any column
nonurse = nonurse[~nonurse.apply(lambda row: any('Private' in str(val) for val in row), axis=1)]

In [7]:
# Filter and drop rows containing "Dentist" in any column
nonurse = nonurse[~nonurse.apply(lambda row: any('Dentist' in str(val) for val in row), axis=1)]

In [8]:
# Filter and drop rows containing "Community Nurse" in any column
nonurse = nonurse[~nonurse.apply(lambda row: any('Community Nurse' in str(val) for val in row), axis=1)]

In [9]:
nonurse = nonurse.reset_index(drop=True)
nonurse

             State  Year Staff type Hospital category Number of staff
0            Johor  2015     Doctor       Government             2854
1            Johor  2015      Nurse        Government            6441
2            Johor  2016     Doctor       Government             2887
3            Johor  2016      Nurse        Government            6688
4            Johor  2017     Doctor       Government             3235
..             ...   ...        ...               ...             ...
91  W.P. Putrajaya  2015      Nurse        Government            2952
92  W.P. Putrajaya  2016     Doctor       Government             4449
93  W.P. Putrajaya  2016      Nurse        Government            2875
94  W.P. Putrajaya  2017     Doctor       Government             4261
95  W.P. Putrajaya  2017      Nurse        Government            2312

[96 rows x 5 columns]

In [10]:
nonurse.isnull().sum()

State                0
Year                 0
Staff type           0
Hospital category    0
Number of staff      0
dtype: int64

In [11]:
# facilitiesmaster
fm = pd.read_csv('facilities_master.csv')

In [12]:
fm['state'].unique()

array(['Melaka', 'Perak', 'Selangor', 'W.P. Kuala Lumpur', 'Sabah',
       'Pulau Pinang', 'Kedah', 'Sarawak', 'Pahang', 'Terengganu',
       'Johor', 'Kelantan', 'Negeri Sembilan', 'W.P. Labuan',
       'W.P. Putrajaya', 'Perlis'], dtype=object)

In [13]:
fm.dtypes

state        object
district     object
sector       object
type         object
name         object
address      object
phone        object
lat         float64
lon         float64
dtype: object

In [14]:
fm['lon'] = fm['lon'].astype(object)
fm['lat'] = fm['lat'].astype(object)

In [15]:
fm.to_csv('fm.csv', index=False)

In [16]:
bs = pd.read_csv('bedutil_state.csv')

In [17]:
bs.dtypes

state           object
beds_nonicu      int64
util_nonicu    float64
beds_icu         int64
util_icu       float64
vent             int64
util_vent      float64
dtype: object

In [18]:
bs.isnull().sum()

state          0
beds_nonicu    0
util_nonicu    0
beds_icu       0
util_icu       0
vent           0
util_vent      0
dtype: int64

In [19]:
column_to_drop = ['vent','util_vent']
bsnew = bs.drop(column_to_drop, axis=1)

In [20]:
bsnew.to_csv('bsnew.csv', index=False)

In [21]:
data = pd.read_excel("file_20221106215053.xlsx")

In [22]:
data.dtypes

Year                     object
State                    object
Communicable diseases    object
Number                   object
Rate                     object
dtype: object

In [23]:
data = data.replace('-', pd.NA)

# Convert 'Number' and 'Rate' columns to numeric
data['Number'] = pd.to_numeric(data['Number'], errors='coerce')
data['Rate'] = pd.to_numeric(data['Rate'], errors='coerce')

# Drop rows with NaN in 'Number' or 'Rate' columns
data.dropna(subset=['Number', 'Rate'], inplace=True)

In [24]:
data.dtypes

Year                      object
State                     object
Communicable diseases     object
Number                   float64
Rate                     float64
dtype: object

In [25]:
unique_Year = data['Year'].unique()
unique_Year

array([2013, 2014, 2015, 2017, 2018, '2016p'], dtype=object)

In [26]:
unique_State = data['State'].unique()
unique_State

array(['Johor', 'Kedah', 'Kelantan', 'Malaysia', 'Melaka',
       'Negeri Sembilan', 'Pahang', 'Perak', 'Perlis', 'Pulau Pinang',
       'Sabah', 'Sarawak', 'Selangor', 'Terengganu', 'W.P. Kuala Lumpur',
       'W.P. Labuan'], dtype=object)

In [27]:
unique_Com = data['Communicable diseases'].unique()
unique_Com

array(['Dengue fever', 'Dengue haemorrhagic fever', 'Dysentry ',
       'Food poisoning', 'Hepatitis A', 'Hepatitis B', 'Hepatitis C',
       'Leprosy', 'Measles', 'Tuberculosis', 'Typhoid', 'Whooping cough',
       'Other Tetanus', 'Cholera', 'Other Specified Viral',
       'Neonatal Tetanus ', 'Viral encephalitis', 'A.I.D.S', 'Gonorrhoea',
       'H.I.V', 'Hand, Foot and Mouth Disease', 'Leptospirosis',
       'Malaria', 'Syphillis', 'Diphteria', 'Typhus', 'Pertusis'],
      dtype=object)

In [28]:
data['Number'] = data['Number'].astype(int)

In [29]:
data.loc[data['Year'] == '2016p', 'Year'] = 2016

In [30]:
unique_Year = data['Year'].unique()
unique_Year

array([2013, 2014, 2015, 2017, 2018, 2016], dtype=object)

In [31]:
data['Year'] = data['Year'].astype(int)

In [32]:
data.dtypes

Year                       int32
State                     object
Communicable diseases     object
Number                     int32
Rate                     float64
dtype: object

In [33]:
data['State'] = data['State'].replace('W.P. Kuala Lumpur', 'WP KL & Putrajaya')
data['State'] = data['State'].replace('W.P. Labuan', 'W.P.Labuan')

In [34]:
data

      Year       State      Communicable diseases  Number    Rate
1     2013       Johor               Dengue fever    4750  136.60
2     2013       Johor  Dengue haemorrhagic fever      78    2.24
3     2013       Johor                  Dysentry        1    0.03
4     2013       Johor             Food poisoning    1447   41.61
5     2013       Johor                Hepatitis A       2    0.06
...    ...         ...                        ...     ...     ...
2370  2016  W.P.Labuan                Hepatitis C       1    1.02
2372  2016  W.P.Labuan              Leptospirosis      42   42.94
2379  2016  W.P.Labuan                  Syphillis       7    7.16
2380  2016  W.P.Labuan               Tuberculosis     133  135.99
2381  2016  W.P.Labuan                    Typhoid       4    4.09

[1882 rows x 5 columns]

In [35]:
data.to_csv('new_file_diseases.csv', index=False)